.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: url(../../imgs/Photoroom.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main h3 {
  color: #a3c9ff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2.5px;
}
.main p {
  color: #7f8fa6;
  font-size: 20px;
  letter-spacing: 3px;
}
.main .slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.main .slides .slide {
  border: 1px solid #a3c9ff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.main .slides .slide a {
  padding: 60px;
  border-radius: 7px;

  text-decoration: none;
  color: #4da6ff;
  transition: 0.5s ease;
}
.main .slides .slides:hover {
  transform: translateY(-5px);
}
.main .slides .slide a:hover {
  background-color: #2c2f38;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* خلفية شفافة */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.messageBox {
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.messageBox h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.messageBox p {
  margin-bottom: 1rem;
  color: #666;
}

.loginBtn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background: #4da6ff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

.loginBtn:hover {
  background: #1a8cff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
